/* General CSS */
.header {
  padding: 1px 16px;
}

.search_page_body {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: inline-block;
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 17px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit_div {
  text-align: center;
  margin-top: 17px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.prompts_list_table {
  margin: 40px 43px;
}

.prompt_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.prompt_table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.prompt_table tr:nth-child(even){background-color: #f2f2f2;}

.prompt_table tr:hover {background-color: #ddd;}

/* CSS for responsiveness */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.responsive-text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  margin: 9px 8px;
  color: #3e3d3d;
}

/* CSS for alert box on search page */
  .prompt_alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }

  .prompt_alert_closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .prompt_alert_closebtn:hover {
    color: black;
  }

  /* CSS for info box on search page */
  .prompt_info {
    padding: 20px;
    background-color: #1d73d4;
    color: white;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
