<%# Partial for flash messages %>

<% flash.each do |key, message| %>
  <% if key == 'warn' %>
    <div class="prompt_warn">
      <span class="prompt_alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= message %>
    </div>
  <% else %>
    <div class="prompt_alert">
      <span class="prompt_alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= message %>
    </div>
  <% end %>
<% end %>