<%# Partial for resulted prompts for searched keyword %>

<% if !flash.present? %>
  <% if @prompts.present? %>
    <h3>Search Results:</h3>
    <table class="prompt_table">
      <tr></tr>
      <% @prompts.compact.each do |prompt| %>
        <tr><td><%= prompt %></td></tr>
      <% end %>
    </table>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% end %>