<%= render 'flash_messages' %>

<div class="header">
  <center><h1>Search Prompts</h1></center>
</div>

<div class="row search_page_body">
  <%= render 'form' %>

  <div class="col-12 col-s-12 prompts_list">
    <%= render 'prompts' %>
  </div>
</div>

<% if @prompts.present? %>
  <div class="text-center my-4">
    <div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-gray-700 no-underline bg-white rounded-lg">
      <div class="flickr_pagination">
        <div class="py-4">
          <%= will_paginate @prompts %>
        </div>
      </div>
    </div>
  </div>
<% end %>